<ion-header>
  <ion-toolbar class="font" color="primary">
    <ion-buttons slot="start">
      <ion-back-button text="Volver" color="light"></ion-back-button>
    </ion-buttons>
    <ion-title align="center">BÚSQUEDA DE MATRÍCULA</ion-title>
  </ion-toolbar>
</ion-header>
<ion-button color="primary" (click)="scan('camera')">
  <ion-icon name="qr-scanner"></ion-icon>
  Hacer foto
</ion-button>
<ion-button color="dark" (click)="scan('library')">
  <ion-icon name="images"></ion-icon>
  Seleccionar foto
</ion-button>