<ion-header>
  <ion-toolbar class="font" color="primary">
    <ion-buttons slot="start">
      <ion-back-button text="Volver" color="light"></ion-back-button>
    </ion-buttons>
    <ion-title align="center">AÑADIR LOCALIDAD</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="createLocationForm">
    <ion-list>
      <ion-item>
        <ion-label class="font" position="floating">Nombre de la localidad:</ion-label>
        <ion-input class="font" formControlName="Name" type="text" placeholder="Localidad"></ion-input>
      </ion-item>
    </ion-list>
    <div align="center">
      <ion-button [disabled]="!createLocationForm.valid" (click)="acceptButtonClicked()">Aceptar</ion-button>
    </div>
  </form>
</ion-content>