<ion-header class="header">
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-back-button text="Volver"></ion-back-button>
    </ion-buttons>
    <ion-title>REVISOR</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="text">
  <ion-list>
    <ion-item>
      <ion-label>
        Usuario: {{selectedChecker.Username}}
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        Nombre: {{selectedChecker.Name}}
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        Email: {{selectedChecker.Email}}
      </ion-label>
    </ion-item>
    <ion-item *ngIf="!birthDateIsNull">
        <ion-label>
          Fecha de nacimiento: {{formattedBirthDate}}
        </ion-label>
      </ion-item>
    <div align="center">
      <ion-button color="danger" (click)="deleteCheckerAsync()">Eliminar revisor</ion-button>
    </div>
  </ion-list>
</ion-content>