<ion-header>
  <ion-toolbar class="font" color="primary">
    <ion-buttons slot="start">
        <ion-back-button text="Volver"></ion-back-button>
    </ion-buttons>
    <ion-title>Información de revisor</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="text">
  <ion-list>
    <ion-item>
      <ion-label class="font">
        Usuario: {{selectedChecker.Username}}
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="font">
        Nombre: {{selectedChecker.Name}}
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="font">
        Email: {{selectedChecker.Email}}
      </ion-label>
    </ion-item>
    <ion-item *ngIf="!birthDateIsNull">
        <ion-label class="font">
          Fecha de nacimiento: {{formattedBirthDate}}
        </ion-label>
      </ion-item>
    <div align="center">
      <ion-button color="danger" class="font" (click)="deleteCheckerAsync()">Eliminar revisor</ion-button>
    </div>
  </ion-list>
</ion-content>