<ion-header>
  <ion-toolbar class="font" color="primary">
    CREAR AVISO
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="createWarningForm">
    <ion-list>
      <ion-item>
        <ion-label class="font" position="floating">Título</ion-label>
        <ion-input class="font" type="text" formControlName="Title" placeholder="Título"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label class="font" position="floating">Descripción</ion-label>
        <ion-textarea placeholder="Descripción..." formControlName="Description" autoGrow="true"></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Fecha de inicio</ion-label>
        <ion-datetime formControlName="InitialDateTime" displayFormat="MMM DD, YYYY HH:mm"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Fecha de fin</ion-label>
        <ion-datetime formControlName="FinalDateTime" displayFormat="MMM DD, YYYY HH:mm"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Localidades</ion-label>
        <ion-select formControlName="Locations" multiple="true" cancelText="Cancelar" okText="Acpetar">
          <ion-select-option *ngFor="let location of locations">
            {{location.Name}}
          </ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </form>
</ion-content>