<ion-header>
  <ion-toolbar class="header-style" color={{color}}>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title align="center">
      Adquirir bonos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color={{color}}>
  <ion-card color={{color}}>

    <ion-card-header class="font-style">
      <ion-label></ion-label>
      <p></p>

      <ion-list style="--ion-background-color:primary;">
        <ion-list-header class="font-style" color={{color}}>Selecciona un bono</ion-list-header>

        <ion-item color={{color}}>
          <ion-label class="label-css">Tipo</ion-label>
          <ion-select class="font-style" (ionChange)="TipoSeleccionado($event)" placeholder="Elige un tipo" okText="Seleccionar"
            cancelText="Cancelar">
            <ion-select-option class="font-style">Individual</ion-select-option>
            <ion-select-option class="font-style">Multicoche</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item color={{color}}>
          <ion-label class="label-css">Bonos</ion-label>
          <ion-select class="font-style" (ionChange)="Cambiando($event)" placeholder="Elige un bono" okText="Seleccionar"
            cancelText="Cancelar">
            <ion-select-option class="font-style" *ngFor="let Bono of BonosAMostrar">{{Bono.Name}}</ion-select-option>
          </ion-select>
        </ion-item>

      </ion-list>

      <ion-label></ion-label>
      <p align="center">
        <ion-row class="font-style">
          <ion-col class="label-css">
            Precio del bono:
          </ion-col>
          <ion-col class="font-style">
            {{paymentAmount2}} {{currencyIcon}}
          </ion-col>
        </ion-row>
      </p>


      <p></p>

    </ion-card-header>

    <ion-card-content class="font-style">

      <div id="paypal-button-container-Bonos"></div>

    </ion-card-content>

  </ion-card>
</ion-content>