<ion-header class="header">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text="Volver" color="light"></ion-back-button>
    </ion-buttons>
    <ion-title>VER TARIFA</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<form [formGroup]="checkTariffForm">
  <ion-list>
    <ion-item>
      <ion-label position="floating">Descripción:</ion-label>
      <ion-input formControlName="Description" type="text" value="{{ originalTariff.Description }}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-checkbox formControlName="IsRealTime" (click)="checkRealTime()"></ion-checkbox>
      <ion-label>&nbsp;&nbsp;Es tiempo real</ion-label>       
    </ion-item>
    <ion-item disabled="{{isRealTimeChecked}}">
      <ion-label position="floating">Duración:</ion-label>
      <ion-input formControlName="Duration" type="text" value="{{ originalTariff.Duration }}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Precio:</ion-label>
      <ion-input formControlName="Price" type="text" value="{{ originalTariff.Price }}"></ion-input>
    </ion-item>
  </ion-list>
  <div padding>
    <ion-button float-right [disabled]="!checkTariffForm.valid && hasBeenModified()" (click)="acceptButtonClicked()">Modificar datos</ion-button>
  </div>
</form>
</ion-content>