<ion-header>
  <ion-toolbar class="font" color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Resumen de tu parada
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-img src="assets/icon/Logosinfondo.jpg"></ion-img>
    <ion-card-header class="font">
      <ion-label></ion-label>
      <p></p>
      <!-- <ion-card-title>PayPal Sample</ion-card-title> -->
      <ion-row class="text">
        <ion-col>
          Total a pagar
        </ion-col>
        <ion-col>
          {{paymentAmount}} {{currencyIcon}}
        </ion-col>
      </ion-row>
    </ion-card-header>
    <ion-card-content class="font">
       <div id="paypal-button-container"></div>
      <!--<ion-button expand="full" color="success" (click)="payWithPaypal()">Realizar pago</ion-button>-->
    </ion-card-content>
  </ion-card>
</ion-content>