<router-outlet></router-outlet>
<ion-card color="primary">
  <ion-card-content>
    <ion-title class="title" text-center> BUSCAR REVISOR</ion-title>
  </ion-card-content>
</ion-card>
<ion-toolbar>
  <ion-searchbar animated (ionChange)="getItems( $event )"></ion-searchbar>
</ion-toolbar>
<ion-content>
  <ion-list>
    <ion-item class="font-style" (click)="click(checker)" *ngFor="let checker of checkers | filterCheckers: searchText: 'column'"> 
      <ion-label >{{checker.Name}} {{checker.Surname}} - {{checker.Username}}</ion-label>
    </ion-item>
  </ion-list> 
</ion-content>  