<router-outlet></router-outlet>
<ion-header>
    <ion-toolbar class="header-style" color="primary">
      <ion-buttons slot="end">
          <ion-button color="light" (click)="createChecker()">
            <ion-icon name="add-circle" color="light"></ion-icon>
            Crear
          </ion-button>
      </ion-buttons>
      <ion-title>Lista de revisores</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
  <ion-toolbar class="font-style">
    <ion-searchbar placeholder="Nombre o usuario del revisor..." animated (ionChange)="getItems( $event )"></ion-searchbar>
  </ion-toolbar>
    <ion-list>
      <ion-item class="font-style" (click)="click(checker)" *ngFor="let checker of checkers | filterCheckers: searchText: 'column'"> 
        <ion-label class="font-style">{{checker.Name}} {{checker.Surname}} - {{checker.Username}}</ion-label>
      </ion-item>
    </ion-list>
</ion-content>