<ion-app>
  <ion-header style="padding-bottom: 0px;">
    <ion-toolbar class="header-style" color={{color}}>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/main/profile"></ion-back-button>
      </ion-buttons>
      <ion-title align="center">
        Historial denuncias
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content color={{color}}>
      <ion-card color={{color}} text-center>
        <ion-list *ngFor="let item of movements">
          <ion-item>
            Denuncia de {{item.Amount}} € pagada el {{item.Date}} por {{item.Motivo}}.
          </ion-item>
        </ion-list>
      </ion-card>
  </ion-content>
</ion-app>