<ion-header>
  <ion-toolbar class="header-style" color={{color}}>
    <ion-buttons slot="start">
      <ion-back-button  color={{color}}></ion-back-button>
    </ion-buttons>
    <ion-buttons *ngIf=isAdministrator slot="end">
      <ion-button (click)="create()">
        <ion-icon name="add-circle"></ion-icon>
        Crear
      </ion-button>
    </ion-buttons>
    <ion-title align="center">Avisos</ion-title>
  </ion-toolbar>
  <ion-toolbar color={{color}} class="font-style">
    <ion-searchbar (ionChange)="getItems( $event )"></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content color={{color}}>
  <ion-list style="--ion-background-color:primary;">
    <ion-item color={{color}} *ngFor="let location of locations | filterLocations: searchText: 'column'">
      <ion-label class="font-style"> {{location.Name}} </ion-label>
      <ion-button (click)="locationWarnings(location)">
        <ion-icon name="eye"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>