<ion-router-outlet></ion-router-outlet>
<ion-header>
  <ion-toolbar class="font" color="primary">
    <ion-buttons slot="start">
      <ion-back-button text="Volver" color="light"></ion-back-button>
    </ion-buttons>
    <ion-title align="center">COMPROBACIÓN MATRÍCULA</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="text">
  <ion-list>
    <ion-item>
      <ion-label class="font">
        Matrícula: {{vehicle.LicensePlate}}
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="font">
        Usuario: {{vehicle.OwnerEmail}}
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="font">
        Marca: {{vehicle.Manufacturer}}
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="font">
        Modelo: {{vehicle.ModelName}}
      </ion-label>
    </ion-item>
    <ion-item>
        <ion-label class="font">
          Aparcamiento: {{isParkedBetweenHours}}
        </ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="no">
        Tiempo restante: {{leftTime}}
      </ion-label>
    </ion-item>
    <div align="center">
      <ion-button *ngIf="parkIsValid" class="font" color="success">Aceptar</ion-button>
      <ion-button *ngIf="!parkIsValid" class="font" color="danger">Denunciar</ion-button>
    </div>
  </ion-list>
</ion-content>