<ion-tabs>
    <ion-tab-bar slot="bottom">
        <ion-tab-button (click)="manageClients()">
            <ion-icon name="people"></ion-icon>
            <ion-label class="font">Clientes</ion-label>
        </ion-tab-button>
        <ion-tab-button (click)="manageCheckers()">
            <ion-icon name="clipboard"></ion-icon>
            <ion-label class="font">Revisores</ion-label>
        </ion-tab-button>
        <ion-tab-button (click)="manageTariffs()">
            <ion-icon name="card"></ion-icon>
            <ion-label class="font">Tarifas</ion-label>
        </ion-tab-button>
        <ion-tab-button (click)="manageSubscriptions()">
            <ion-icon name="paper"></ion-icon>
            <ion-label class="font">Bonos</ion-label>
        </ion-tab-button>
        <ion-tab-button (click)="manageWarnings()">
            <ion-icon name="alert"></ion-icon>
            <ion-label class="font">Avisos</ion-label>
        </ion-tab-button>
        <ion-tab-button (click)="changeToClientView()">
            <ion-icon name="card"></ion-icon>
            <ion-label class="font">Vista Cliente</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>