<ion-app>
  <ion-header style="padding-bottom: 0px;">
    <ion-toolbar class="header-style" color={{color}}>
      <ion-buttons slot="start">
      </ion-buttons>
      <ion-title align="center">
        CARTERA
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content color={{color}}>
    <form [formGroup]="cartera" (ngSubmit)="anyadirSaldo()">
      <ion-card text-center class="card"  color={{color}}>
        <p></p>
        <ion-card-content>
          <ion-label class="saldo">
            € {{saldo}}
          </ion-label>
        </ion-card-content>
        <p></p>
      </ion-card>
      <p></p>

      <div text-center>
        <ion-item color={{color}}>
          <ion-label>Saldo a añadir</ion-label>
          <ion-select formControlName="dinero" (ionChange)="changeSaldo()">
            <ion-select-option value="5">€ 5</ion-select-option>
            <ion-select-option value="10">€ 10</ion-select-option>
            <ion-select-option value="15">€ 15</ion-select-option>
            <ion-select-option value="20">€ 20</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-button (click)="anyadirSaldo()" [disabled]="saldoIsDefault">
          Añadir saldo
        </ion-button>
      </div>
      <ion-card color={{color}} text-center>
        <p></p>
          <ion-label>
              Historial de transacciones
            </ion-label>
        <ion-list style="--ion-background-color:primary;" *ngFor="let item of movements">
          <ion-item color={{color}} >
            {{item.Amount}} € de saldo {{item.Operation}} el {{item.Date}}
          </ion-item>
        </ion-list>
      </ion-card>
    </form>
  </ion-content>
</ion-app>