<router-outlet></router-outlet>
<ion-card color="primary">
  <ion-card-content>
    <ion-title class="title" text-center>Cliente</ion-title>
  </ion-card-content>
</ion-card>
<ion-toolbar>
  <ion-searchbar placeholder="Nombre o usuario del cliente..." animated (ionChange)="getItems( $event )"></ion-searchbar>
</ion-toolbar>
<ion-content>
  <ion-list>
    <ion-item class="font-style" (click)="click(client)" *ngFor="let client of clients | filterClient: searchText: 'column'"> 
      <ion-label >{{client.Name}} - {{client.Username}}</ion-label>
    </ion-item>
  </ion-list> 
</ion-content>  