<ion-header>
  <ion-toolbar class="header-style" color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title align="center">Comprobar matrícula</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <br>
  <ion-card>
  <ion-button color="primary" expand="block" (click)="insertManually()">
    <ion-icon name="clipboard"></ion-icon>
     &nbsp;Introducir manualmente
  </ion-button>
</ion-card>
  <br>
<ion-card>
  <ion-button color="primary" expand="block" (click)="useCamera()">
    <ion-icon name="camera"></ion-icon>
     &nbsp;Escanear
  </ion-button>
</ion-card>
</ion-content>