<ion-header class="header">
  <ion-title>
    USUARIO
  </ion-title>
</ion-header>
<ion-content class="text">
  <ion-list>
    <ion-item>
      <ion-label>
        Nombre:
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        Apellidos:
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        Email:
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        Matriculas:
      </ion-label>
      <ion-select>
        <ion-select-option>Hola</ion-select-option>
        <ion-select-option>me llamo</ion-select-option>
        <ion-select-option>batman</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
</ion-content>