<ion-header>
  <ion-toolbar class="font" color={{color}}>
    <ion-buttons slot="start">
      <ion-back-button text="Volver" color="light"></ion-back-button>
    </ion-buttons>
    <ion-title align="center">PERFIL</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content color={{color}}>
  <ion-item color={{color}} class="font" (click)="anadirVehiculo()" detail>Añadir Vehiculo</ion-item>
  <ion-item color={{color}} class="font">
    Modo Oscuro
    <ion-toggle slot="end" (click)="modoOscuro()"></ion-toggle>
  </ion-item>
  <ion-item color = {{color}} class="font" (click)="info()" detail>Información</ion-item>
</ion-content>