<router-outlet></router-outlet>
<ion-tabs>
    <ion-tab-bar color = {{color}} class="font" slot="bottom" *ngIf="!HideBar">
        <ion-tab-button  (click)="click('park')">
            <ion-icon name="car"></ion-icon>
            <ion-label>Aparcar</ion-label>
        </ion-tab-button>

        <ion-tab-button (click)="click('notifications')">
            <ion-icon name="time"></ion-icon>
            <ion-label>Notificaciones</ion-label>
        </ion-tab-button>

        <ion-tab-button (click)="click('wallet')">
            <ion-icon name="card"></ion-icon>
            <ion-label>Cartera</ion-label>
        </ion-tab-button>

        <ion-tab-button (click)="click('profile')">
            <ion-icon name="contact"></ion-icon>
            <ion-label>Perfil</ion-label>
        </ion-tab-button>
        <ion-tab-button *ngIf="isAdmin" (click)="click('adminView')">
            <ion-icon name="card"></ion-icon>
            <ion-label>Vista de administrador</ion-label>
        </ion-tab-button>
        <ion-tab-button *ngIf="isChecker" (click)="click('checkerView')">
            <ion-icon name="card"></ion-icon>
            <ion-label>Vista de revisor</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>