<ion-card>
  <ion-card-content>
    <ion-title text-center> Recuperar contraseña</ion-title>
  </ion-card-content> 
</ion-card>

<ion-content>
  <ion-card style="padding-top: 15px; padding-bottom: 20px">
    <ion-card-header>
        <ion-img [src]="'assets/icon/Logosinfondo.jpg'"></ion-img>
    </ion-card-header>
    
    <ion-card-content>
      <ion-label>
        Si los datos son correctos, se enviará una nueva contraseña a la dirección de correo
      </ion-label>
    </ion-card-content>
    
    <ion-card-content>
      <ion-chip >
        <ion-icon name="email"></ion-icon>
        <ion-input placeholder="Correo electrónico" type="password"></ion-input>
      </ion-chip>
    </ion-card-content>

    <ion-card-content>
      <ion-chip>
        <ion-icon name="id"></ion-icon>
        <ion-input placeholder="Documento de identidad"></ion-input>
      </ion-chip>
    </ion-card-content>
  
  </ion-card>
    <div text-center>
      <ion-button (click)="recover()">
          Restaurar contraseña
      </ion-button>
    </div>
</ion-content>


