<ion-content>
  <ion-card style="padding-top: 15px; padding-bottom: 20px">
      <ion-chip >
              <ion-icon name="email"></ion-icon>
              <ion-input placeholder="Correo electrónico"></ion-input>
      </ion-chip>
      <ion-chip>
          <ion-icon name="id"></ion-icon>
          <ion-input placeholder="Documento de identidad"></ion-input>
      </ion-chip>
  </ion-card>
      <ion-button style="margin-top: 10px; width: 100%;" shape="round" (click)="recover()">
          Restaurar contraseña
      </ion-button>
</ion-content>


