<ion-card>
    <ion-card-header>
        <ion-img [src]="'assets/icon/favicon.jpeg'"></ion-img>
    </ion-card-header>
    <ion-card-content>
        <ion-chip>
                <ion-icon name="contact"></ion-icon>
                <ion-input placeholder="Usuario"></ion-input>
        </ion-chip>

        <ion-chip>
            <ion-icon name="key"></ion-icon>
            <ion-input placeholder="Contraseña" type="password"></ion-input>
        </ion-chip>

        <ion-button style="margin-top: 10px; width: 100%;" shape="round" (click)="acceder()">
            Acceder
        </ion-button>
        
    </ion-card-content>
</ion-card>



