
<ion-card>
    <ion-card-header>
        <ion-img [src]="'assets/icon/favicon.jpeg'"></ion-img>
    </ion-card-header>
    <ion-card-content>
        <ion-chip>
                <ion-icon name="contact"></ion-icon>
                <ion-input placeholder="Usuario"></ion-input>
        </ion-chip>

        <ion-chip>
            <ion-icon name="key"></ion-icon>
            <ion-input placeholder="Contraseña" type="password"></ion-input>
        </ion-chip>
        <ion-label (click)="forgot()" color="primary" style="padding-left: 8px; padding-top: 15px;  "  >
                <u>
                    <b>
                    He olvidado mi contraseña
                    </b>                  
                </u>
            </ion-label>
        <ion-button style="margin-top: 10px; width: 100%;" shape="round">
            Acceder
        </ion-button>
        <section>
            <ion-button style="width: 48.5%" shape="round" (click)="logWithGoogle()">
                
                Iniciar con google
            </ion-button>
            <ion-button style="width: 48.5%" shape="round" (click) = "register()">Registrarse</ion-button>
        </section>
        
    </ion-card-content>
</ion-card>


