    <ion-header>
        <ion-img [src]="'assets/icon/Logosinfondo.jpg'"></ion-img>
        <!--<ion-img [src]="'assets/icon/logoUbicación.png'"></ion-img> -->
    </ion-header>
    <ion-content>
        <form [formGroup]="loginForm" (ngSumbit)="logIn()">
            <ion-chip>
                <ion-icon name="contact"></ion-icon>
                <ion-input formControlName="Email" type="text" placeholder="Email"></ion-input>
            </ion-chip>
            <ion-chip>
                <ion-icon name="key"></ion-icon>
                <ion-input formControlName="Password" placeholder="Contraseña" type="password"></ion-input>
            </ion-chip>
            <br>
            <ion-label class="margin" (click)="forgot()" color="primary" style="padding-left: 8px; padding-top: 15px;  ">
                <u>
                    <b>
                        He olvidado mi contraseña
                    </b>
                </u>
            </ion-label>
            <br><br>
            <div class row>
            <ion-button style="margin-top: 10px; width: 70%;" shape="round" (click)="logIn()">
                Acceder
            </ion-button>
        </div>
            <div class row>
                <div class column>
                    <ion-button shape="round" (click)="logWithGoogle()">
                        <ion-img style="width: 30px; margin-right: 15px " [src]="'assets/icon/googleLogo.png'"></ion-img>
                        Google
                    </ion-button>
                </div> 
                <div class column>    
                    <ion-button style="width: 48.5%" shape="round" (click)="register()">Registrarse</ion-button>
                </div>
            </div>
        </form>

    </ion-content>