<ion-app>
    <ion-content color={{color}}>
        <ion-header [ngStyle]="{'color' : color}" style="padding-bottom: 0px;">
            <ion-toolbar class="font" color={{color}}>
                <ion-buttons slot="start">
                    <ion-back-button defaultHref="/main/park"></ion-back-button>
                </ion-buttons>
                <ion-title>Selecciona un vehículo</ion-title>
            </ion-toolbar>
            <ion-list [ngStyle]="{'color' : color}" *ngFor="let item of vehicles">
                <ion-item color={{color}} class="font" style="font-size: 30px;" button="true" (click)="aparcarVehiculo(item)">
                    <ion-icon name="car"></ion-icon>
                    {{item.Manufacturer}}
                    {{item.ModelName}}
                    {{item.LicensePlate}}
                </ion-item>
            </ion-list>
           
            <ion-item color = {{color}} >{{bonoTexto}}</ion-item>
            <ion-item color = {{color}} >Selecciona una tarifa:</ion-item>
            <ion-segment disabled= {{this.tieneBono}} >
                <ion-segment-button (click)="seleccionaTarifa(item)" *ngFor="let item of tariffs">
                    {{item.Description}}
                </ion-segment-button>
              </ion-segment>

        </ion-header>


        
    </ion-content>
</ion-app>